<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Added - MealMate</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'delivery/style.css' %}">
</head>
<body>
    <div class="form-container">
        <h2>Invalid Credentials!</h2>
        <button type="submit" style="float: left;" class="btn">
            <a href="javascript:history.back()">Go Back</a></button>
    </div>
</body>
</html>
