{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Restaurants - MealMate</title>
    <link rel="stylesheet" href="{% static 'delivery/restaurant_style.css' %}">
</head>
<body>
    <div class="form-container">
        <h2>Our Restaurants</h2>
        <table>
            <thead>
                <tr>
                    <th>Restaurant Name</th>
                    <th>Picture</th>
                    <th>Cuisine</th>
                    <th>Rating</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                {% for r in restaurantList %}
                    <tr>
                        <td>{{ r.name }}</td>
                        <td>
                            <img src="{{ r.image_url }}" alt="{{ r.name }}">
                        </td>
                        <td>{{ r.cuisine }}</td>
                        <td>{{ r.rating }}</td>

                        <td>
                            <a href="{% url 'update_restaurant' r.id %}">Update Restaurant Info</a>
                            <br>
                            <a href="{% url 'delete_restaurant' r.id %}">Delete Restaurant</a>
                            <br>
                            <a href="{% url 'update_menu' r.id %}">Update Menu</a>
                            <br>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
         <button type="submit" style="float: left;" class="btn">
            <a href="javascript:history.back()">Go Back</a></button>
    </div>
</body>
</html>
