{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Restaurant - MealMate</title>
    <link rel="stylesheet" href="{% static 'delivery/style.css' %}">
</head>
<body>
    <div class="form-container">
        <h2>Add a Restaurant</h2>
        <form action="{% url 'update_restaurant' r.id %}" method="POST">
            {% csrf_token %}
            <label for="name">Restaurant Name:</label>
            <input type="text" id="name" name="name" value="{{ r.name }}">

            <label for="image_url">Image URL:</label>
            <input type="url" id="image_url" name="image_url" value="{{ r.image_url }}">

            <label for="cuisine">Cuisine Type:</label>
            <input type="text" id="cuisine" name="cuisine" value="{{ r.cuisine }}">

            <label for="rating">Rating (1 to 5):</label>
            <input type="number" id="rating" name="rating" min="1" max="5" step="0.1" value="{{ r.rating }}">

            <button type="submit" style="float: right;" class="btn">Update Restaurant</button>
            <button type="submit" style="float: left;" class="btn">
            <a href="javascript:history.back()">Go Back</a></button>
        </form>
    </div>
</body>
</html>